* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: sans-serif;
}

.signup-box {
  width: 320px;
  height: 550px;
  background: #191919;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 70px 30px;
}

.signup-box h2 {
  margin: 0;
  padding: 0 0 20px;
  font-weight: 600;
  font-size: 30px;
}

.signup-box .user-box {
  position: relative;
}

.signup-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.signup-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.signup-box .user-box input:focus ~ label,
.signup-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03a9f4;
  font-size: 12px;
}

.signup-box a {
  display: block;
  margin-top: 30px;
  position: relative;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}

.signup-box a span {
  position: absolute;
  height: 2px;
  width: 0%;
  background: #03a9f4;
  transition: 0.5s;
}
